{% extends 'base.html.twig' %}

{% block title %}Hello MangaController!{% endblock %}

{% block body %}
    <article id="manga" class="my-5 col-12 col-md-8 m-auto w-100 text-center">
        <header id="manga-header">
            <h2 class="text-white">{{ manga.title }}</h2>
            <img src="{{ manga.images.jpg.image_url }}" alt="">
        </header>
        <body id="body-img">
        <h3 id="manga-author">
            {% for author in manga.authors %}
                <h3 class="text-center text-white my-5">{{ author.name }}</h3>
            {% endfor %}
        </h3>
        <p id="manga-synopsis" class="my-5 col-sm-12 col-md-6 m-auto">
            {{ manga.synopsis }}
        </p>
        </body>
    </article>
    {% if form is defined %}
        <div class="col-sm-12 col-md-6 m-auto text-center">
            {{ form(form) }}
        </div>
    {% endif %}
    {% if chapters is defined %}
        <div class="col-sm-12 col-md-6 text-white m-auto my-5">
            <h4 class="text-center"> Vous avez lu : {{ chapters }} chapitres.</h4>
        </div>
    {% endif %}
    {% if remove_form is defined %}
        <div class="col-sm-12 col-md-6 m-auto text-center">
            {{ form(remove_form) }}
        </div>
    {% endif %}
    {% if chapter_form is defined %}
        <div class="col-sm-12 col-md-2 m-auto text-center mb-5">
            {{ form(chapter_form) }}
        </div>
    {% endif %}
{% endblock %}
