{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <section class="container-fluid mt-5">
        <div class="col-sm-10 m-auto col-md-6">
            {{ form(register_form) }}
        </div>
    </section>
{% endblock %}
