header#main-header {
    padding: 10px;
    background: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div.logo {
        a {
            img#main-logo {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
    nav#main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        a.main-menu-item {
            color: $white;
            background: $purple;
            padding: 10px;

            &:hover {
                background: $white;
                color: $purple;
            }
        }
    }
    p#menu-burger {
        display: none;
        color: white;
        background: $purple;
        padding: 10px;
        cursor: pointer;
    }
}
nav#main-menu-mobile {
    display: none;
}

@media screen and (max-width: 715px) {
    header#main-header {
        padding: 10px;
        div.logo {
            a {
                img#main-logo {
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }
        nav#main-menu {
            display: none;
        }
        p#menu-burger {
            display: block;
            margin-right: 20px;
        }
    }
    nav#main-menu-mobile {
        flex-direction: column;
        gap: 10px;
        background: white;
        text-align: center;
        a.main-menu-item {
            text-decoration: none;
            color: $purple;
            border-bottom: 1px solid $purple;
            padding: 10px;
        }
    }
}
.show {
    display: flex !important;
}

