.hero-container {
    display: grid;
    width: 100%;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(20, 1fr);
}

.main-container {
    width: 270px;
    height: 500px;
    position: relative;
    margin: 10px 20px;
    grid-column: span 4;
}

.poster-container {
    width: 230px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    a {
        img {
            object-fit: cover;
            width: 230px;
            height: 300px;
            box-shadow: 0 20px 40px 3px rgba(0, 0, 0, 0.6);
        }
    }
}

.poster {
    width: 100%;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
    background: #fff;
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    opacity: 0;
    margin: 20px 0px;
}

.main-container:hover .ticket-container {
    opacity: 1;
    animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.01, 1.01, 1.01);
        transform: scale3d(1.01, 1.01, 1.01);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.ticket__movie-title {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.ticket__movie-slogan {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.ticket__current-price {
    color: #69c982;
    font-size: 1.4rem;
    font-weight: bold;
}

.ticket__old-price {
    color: #999;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.ticket__buy-btn {
    cursor: pointer;
    width: 100%;
    background: #2f2f2f;
    color: white;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (max-width: 515px){
    .hero-container {
        grid-template-columns: repeat(12, 1fr);
    }
    .main-container {
        grid-column: span 12;
    }
}

@media screen and (min-width: 515px) and (max-width: 915px) {
    .hero-container {
        grid-template-columns: repeat(12, 1fr);
    }
    .main-container {
        grid-column: span 6;
    }
}

@media screen and (min-width: 915px) and (max-width: 1205px) {
    .hero-container {
        grid-template-columns: repeat(12, 1fr);
    }
    .main-container {
        grid-column: span 4;
    }
}
