@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro:wght@300;400;700&display=swap');

$black: #030b1cff;
$purple: #a970ffff;
$white: #e1dee9ff;

$title: 'Anton', sans-serif;
$text: 'Source Sans Pro', sans-serif;