{% extends 'base.html.twig' %}

{% block title %}Hello MangasController!{% endblock %}

{% block body %}
    <div class="col-sm-12 col-md-4 m-auto w-50 mt-5">
        {{ form(search_form) }}
    </div>



    <div class="hero-container mb-5">
        {% if mangas.0 is defined %}
            {% for manga in mangas %}
                <div class="main-container  m-auto ">
                    <div class="poster-container">
                        <a href="{{ path('app_manga', {id : manga.mal_id}) }}">
                            <img src="{{ manga.images.jpg.image_url }}" class="poster"/>
                        </a>
                    </div>
                    <div class="ticket-container">
                        <div class="ticket__content">
                            <h4 class="ticket__movie-title">{{ manga.title }}</h4>
                            <p class="ticket__movie-slogan">
                                {% for author in manga.authors %}
                                    {{ author.name }}
                                {% endfor %}
                            </p>
                            <p class="ticket__current-price">{{ manga.type }}</p>
                            {#                    <p class="ticket__old-price">$44.99</p> #}
                            {#                    <button class="ticket__buy-btn">Buy now</button> #}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% elseif mangas.0 is not defined %}
            <h2>Désolé il n'y as aucun manga correspondant avec votre recherche...</h2>
        {% endif %}


    </div>


    {% if pagination is defined %}
        <div class="content_detail__pagination cdp" actpage="{{ app.request.attributes.get('_route_params')['page'] }}">
            <a href="{{ path('app_mangas', {page : app.request.attributes.get('_route_params')['page'] - 1 }) }}"
               class="cdp_i">prev</a>
            {% for i in 1..pagination %}
                <a href="{{ path('app_mangas', {page : i }) }}" class="cdp_i">{{ i }}</a>
            {% endfor %}
            <a href="{{ path('app_mangas', {page : app.request.attributes.get('_route_params')['page'] + 1 }) }}"
               class="cdp_i">next</a>
        </div>
    {% endif %}
{% endblock %}
