<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EasyManga{% endblock %}</title>
    <link href="{{ asset('/build/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {#        {% block stylesheets %} #}
    {#            {{ encore_entry_link_tags('build/app') }} #}
    {#        {% endblock %} #}
</head>
<body>
<header id="main-header">
    <div class="logo">
        <a href="{{ path('app_home') }}">
            <img src="https://static.posters.cz/image/750/affiches-et-posters/manga-logo-i26314.jpg" alt=""
                 id="main-logo">
        </a>
    </div>
    <nav id="main-menu">
        <a href="{{ path('app_home') }}" class="main-menu-item">Accueil</a>
        <a href="{{ path('app_mangas', {page : 1}) }}" class="main-menu-item">Nos Mangas</a>
        {% if app.user.id is defined %}
            <a href="{{ path('app_library', {userId : app.user.id}) }}" class="main-menu-item">Ma bibliothèque</a>
            <a href="{{ path('app_logout') }}" class="main-menu-item">Déconnexion</a>
        {% endif %}
        {% if app.user.id is not defined %}
            <a href="{{ path('app_login') }}" class="main-menu-item">Connexion</a>
            <a href="{{ path('app_register') }}" class="main-menu-item">Inscription</a>
        {% endif %}
    </nav>
    <p id="menu-burger" class="main-menu-item">Menu</p>
</header>
<nav id="main-menu-mobile">
{#    <a href="{{ path('app_home') }}" class="main-menu-item">Accueil</a>#}
    <a href="{{ path('app_mangas', {page : 1}) }}" class="main-menu-item">Nos Mangas</a>
    {% if app.user.id is defined %}
        <a href="{{ path('app_library', {userId : app.user.id}) }}" class="main-menu-item">Ma bibliothèque</a>
        <a href="{{ path('app_logout') }}" class="main-menu-item">Déconnexion</a>
    {% endif %}
    {% if app.user.id is not defined %}
        <a href="{{ path('app_login') }}" class="main-menu-item">Connexion</a>
        <a href="{{ path('app_register') }}" class="main-menu-item">Inscription</a>
    {% endif %}
</nav>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<main>
    {% block body %}
    {% endblock %}
</main>
<footer id="main-footer" class="mt-5">
    <div class="credentials">
        <p>©EasyManga {{ 'now' | date('Y') }}</p>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script src="{{ asset('/js/pagination.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
    $(document).ready(function(){
        $("#menu-burger").click(function(){
            $("#main-menu-mobile").toggleClass("show", 800, "easeOutQuint");
        });
    });
</script>
</body>
</html>
