{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
    <div class="hero-container m-5 pb-5">
        {% for manga in mangas %}
            <div class="main-container">
                <div class="poster-container">
                    <a href="{{ path('app_manga', {id : manga.mal_id}) }}">
                        <img src="{{ manga.images.jpg.image_url }}" class="poster" /></a>
                </div>
                <div class="ticket-container">
                    <div class="ticket__content">
                        <h4 class="ticket__movie-title">{{ manga.title }}</h4>
                        <p class="ticket__movie-slogan">
                            {% for author in manga.authors %}
                                {{ author.name }}
                            {% endfor %}
                        </p>
                        <p class="ticket__current-price">{{ manga.type }}</p>
                        {% if manga[0].chapters != 0 %}
                        <p class="ticket__current-price">{{ manga[0].chapters }} chapitre lu !</p>
                        {% else %}
                            <p class="ticket__current-price">0 chapitre lu</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
